<!DOCTYPE html>
<html lang="en">
<head>
<title>Alliah Munoz</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {
  box-sizing: border-box;
    font-family: cursive, sans-serif;   
    }

body {
  margin: 0;
}

/* Style the header */
.header, .footer {
  background-color: wheat;
  padding: 20px;
  text-align: center;
    position: static;
        
    }
    .footer{
        height: auto
    }
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: darksalmon;
    position: static;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: snow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: darksalmon;
  color: wheat;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
    
}

/* Left column */
.column.side {
  width: 25%;
    background-color: bisque;
    padding-bottom: 1000px;
    }

/* Right column */
.column.side {
  width: 22.5%;
    background-color: bisque;
    padding-bottom: 1000px;
    
    }
/* Middle column */
.column.middle {
  width: 50%;
    background-color: antiquewhite;
    padding-bottom: 105%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) 
  .column.side, .column.middle {
    width: 100%;
  }
.fa {
  padding: inherit;
    padding-right: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 60%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: grey;
  color: white;
}

.fa-twitter {
  background: grey;
  color: white;
}

.fa-google {
  background: grey;
  color: white;
}

.fa-linkedin {
  background: grey;
  color: white;
}

.fa-youtube {
  background: grey;
  color: white;
}

.fa-instagram {
  background: grey;
  color: white;
}

</style>
</head>
<body>
</html>